<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637231012246-edgj11tobkqaokeodp6l8ml7fciojt2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637231012246-edgj11tobkqaokeodp6l8ml7fciojt2a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>637231012246-ahco96qabe1f9ecdhe5pqub8mfepa327.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArgtGCvxqhaW-EdFHnSeI4vTANeGvRFTg</string>
	<key>GCM_SENDER_ID</key>
	<string>637231012246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mymashapp.iosmash</string>
	<key>PROJECT_ID</key>
	<string>mymashapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mymashapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637231012246:ios:c3d3f6b6fe979af64b65b7</string>
	<key>DATABASE_URL</key>
	<string>https://mymashapp-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>